body{
    margin: 0;
    padding: 0;
}

#bkgd{
    height: 1080px;
    background-image: url("/static/images/night_tree.jpg");
}

.clearfix:after{
  content: "";
  clear: both;
}

#reg-box{
  margin: 0px auto;
  background-color: #EEE;
  width: 600px;
}
